<section class="container py-8 py-lg-10">
        <h2 class="brand-pre-heading mb-4">Resources</h2>
        <p class="lead mw-800">We have put together a number of resources to help guide you through your recovery period. These start with our free, no-obligation Burnout Quiz 
        and lead to community support through our Facebook group. More Youtube videos and downloadable resources are coming soon!</p>
        {% include "packages/partials/blox.partial-package.resources/blox.partial.downloads.quiz/downloads.njk" %}
        <div class="text-center">
            <a class="btn btn-link" href="/quiz/" role="button">Take Quiz For Personalised Resources
            <img class="ml-2" src="{{ blox.page.path }}assets/images/arrow-icon.svg" alt="" width="30px"/></a>
        </div>
    </section>